

<head>

  <title>{{title}}</title>
  <link rel="stylesheet" href="\stylesheets\style.css">

</head>

<body>
  <h2></h2>
  <h3></h3>
<section>
  <div class="container ">
<<<<<<< HEAD
    <form id="formUpload"  class="form m-5 " accept="image/*"  action="/admin/upload" enctype="multipart/form-data" method="post">
=======
    <form class="form m-5 " id="uploadForm" action="/admin/upload" enctype="multipart/form-data" method="post">
>>>>>>> dev
      <div class="row">
        <div class="form-group col-lg-12 mt-5">
          <label for="validationServer01">Product name</label>
          <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Your products name" name="productName" required>
         <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="form-group col-lg-12">
          <label for="validationServer02">Product categery</label>
          <input type="text" class="form-control is-valid" id="validationServer02" placeholder="eg:Mobile phone" name="category" required>
         <div class="valid-feedback">
          Looks good!
        </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-6">
          <label for="validationServer03">Price</label>
          <input type="number" class="form-control" id="validationServer03" placeholder="" name="Price" required>
        </div>
        <div class="form-group col-lg-12 pt-3">
          <label for="validationServer03">Add image </label> <br>
          <button class="btn btn-success"><input class="pt-3" type="file" name="image" id="myFiles" placeholder="Add images" required><br /><br /></button>
        </div>
      </div>
      <div class="form-group">
        <label for="validationServer03">Description</label>
        <textarea class="form-control" id="validationServer03" name="desc" rows="5" required></textarea>
      </div>
      <button onclick="sendFiles()" style="float:right;" class="btn btn-success">Submit</button>
      <a style="float:left;" href="/admin/addedproducts" class="btn btn-success ml-5"
        style=" border-color:black; float:right;"> See All Your Products</a>
    </form>
  </div>
</section>
<script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();

        const form = document.getElementById('formUpload')

        const sendFiles = async () => {
            // Object 
            const myFiles = document.getElementById('myFiles').files

            const formData = new FormData()

            Object.keys(myFiles).forEach(key => {
                formData.append(myFiles.item(key).name, myFiles.item(key))
            })

            const response = await fetch('http://localhost:3000/admin/upload', {
                method: 'POST',
                body: formData
            })

            const json = await response.json()

            const h2 = document.querySelector('h2')
            h2.textContent = `Status: ${json?.status}`

            const h3 = document.querySelector('h3')
            h3.textContent = json?.message

            console.log(json)
        }

        form.addEventListener('submit', (e) => {
            e.preventDefault()
            sendFiles()
        })
          </script>
          <script>
            const form = document.getElementById('uploadForm')

        const sendFiles = async () => {
            // Object 
            const myFiles = document.getElementById('myFiles').files
            console.log(myFiles)
            const formData = new FormData()
            formData = form.value
            Object.keys(myFiles).forEach(key => {
                formData.append(myFiles.item(key).name, myFiles.item(key))
            })

            const response = await fetch('http://localhost:5000/admin/upload', {
                method: 'POST',
                body: formData
            })

            const json = await response.json()

            const h2 = document.querySelector('h2')
            h2.textContent = `Status: ${json?.status}`

            const h3 = document.querySelector('h3')
            h3.textContent = json?.message

            console.log(json)
        }

        form.addEventListener('submit', sendFiles())
          </script>
</body>

</html>