<section class="container mt-3 pt-5">
    <h1>Login</h1>
    <hr>
    <form id="logForm" method="post">

        <p id="error" style="color: red;"></p>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" name="email" class="form-control" />
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" name="pass" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center"></div>
        </div>

        <!-- Submit button -->
        </div>
    </form>
    <button id="signIn" class="btn btn-success btn-block mb-4">Sign in</button>
    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a href="signup">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fa fa-github"></i>
        </button>
        <script>

            let form = document.getElementById("logForm");
            let button = document.querySelector("#signIn");
            let display = document.getElementById("error");


            async function submitLogin() {
                const url = "login"
                let formData = new FormData(form)
                const login = await fetch(url, { method: "POST", body: formData })
                const response = await login.json()
                if (response.login) {
                    window.location.href = "/user"
                } else {
                    display.innerHTML = response.message
                }

            }
            button.addEventListener("click", submitLogin)

        </script>
        <section>