@import url('https://fonts.googleapis.com/css2?family=Montserrat');
 #body{
   background: fixed;
   padding:px;
   background-color:rgb(211, 222, 214,0.5);
   font-family: "Montserrat",sans-serif;
   /* font: 14px " "; */
}

a {
  color: var (--bs-blue);
}

#navbar{
 
  
  background-color: #ffff; 
  color:#ffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cad:hover{
  transition: 0.9s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}
#div1{
  display: flex;
  flex-direction: row;
}
.table{
  margin-top: 80px;
  border-color: black;
  border: solid;
 background-color: #ffff;
  border-width: 2px;
}
.table:hover{
  transition: 0.9s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.5s;
}
.form{
  margin-left:50px ;
  margin-top: 50px;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }