<!DOCTYPE>
<html>

<head>
  <title>{{title}}</title>
<header>

  <body id="body">
    <div class="sticky" style="">
    <nav class="navbar navbar-expand-lg navbar-light p-4 " id="navbar" style="display: flex;
  position: sticky;
    position: -webkit-sticky;
      top: 0; 
  
  width:100%; ">
      <a class="navbar-brand text-dark pl-5" style="font-size:26px;" href="#"><strong>Admin panel</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-5 ">
          <li class="nav-item active">
            <a class="nav-link text-dark " style="" href="/admin">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href="/user">User panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href="/admin/newproducts"></a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-dark " style="" href="/admin/order">All orders</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark " style="" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/addedproducts"></a>
              <a class="dropdown-item" href="/admin/profile">Your profile</a>
              <a class="dropdown-item" href="/admin/settings">Settings</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " href="#" tabindex="-1" ></a>
          </li>
        </ul>
       
      </div>
    </nav>
    </div>
    </body>
</header>
