<body id="body">
  <div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light p-4 " id="navbar" style="
  position: sticky;
  background-color:rgba(2, 175, 45, 0.2);
  display: flex;
    position: -webkit-sticky;
      top: 0; 
  
  width:100%; ">
      <a class="navbar-brand text-dark pl-5" style="font-size:26px;" href="#"><strong>Shopy Cart </strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-5 ">
          <li class="nav-item active">
            <a class="nav-link text-dark " style="" href="/user">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href=
            {{#if user}}
            "/user/cart"
            {{else}}
            "/user/signup"
            {{/if}}
            
            >Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark " style="" href=
               {{#if user}}
            "/user/orders"
            {{else}}
            "/user/signup"
            {{/if}}
            >Your Orders</a>
          </li>
          {{!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark " style="" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/settings">Settings</a>
            </div>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link  text-dark " href="/admin" tabindex="-1" aria-disabled=""></a>
          </li>
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0 pl-5">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search">
          <button class="btn btn-outline-light text-dark my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
        {{!--
        <button class="btn btn-white m-2">Sign up</button>
        <button class="btn btn-white m-2">Login</button> --}}
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
          </a>
        {{!-- {{#if inAnyForm}} --}}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{#if notSignedUser}}
            <a class="dropdown-item" href="user/signup">Signup</a>
            <a class="dropdown-item" href="user/login">Login</a>
            {{/if}}
            {{#if user}}
            <a class="dropdown-item" href="true/profile">Profile</a>
          {{/if}}
          </div>
          {{!-- {{/if}} --}}
        </div>
      </div>
    </nav>
  </div>
</body>
</header>